.col-md-4{
  margin-bottom: 3em;
}
.arrow {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.form{
  border: 2px;
  border-radius: 10px;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgb(180, 75, 121) 0%, rgba(148,187,233,1) 100%);
  padding: 20px;
}
.quoteCard{
  background-color: #F5F5F5;
  border: 1px;
  padding: 10px;
  box-shadow: 10px 15px 10px 2px #FFE6EE;
}