<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor= 'let quote of quotes; let i=index'>
      <div appHighlightQuote class="card text-center">
        <div class="card-body quoteCard">
          <h5 class="card-title" >"{{quote.name}}"</h5>
          <p class="card-text">~{{quote.author}}</p>
          <p (click)='toggleDetails(i)'><i class="arrow"></i></p> 
          <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (deleteQuote) = 'deletesQuote($event,i)'></app-quote-details>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-5 form">
      <app-form (addedQuote)="newQuoteAdd($event)"></app-form>
    </div>
  </div>
</div>

