<div class="row">
  <div class="col-md-6 vote">
    <p (click)= 'upVotesCount()'><i class='far fa-smile' id="yes"></i> {{quote.upVote}}</p>  
  </div>
  <div class="col-md-6 vote">
    <p (click)= 'downVotesCount()'><i class='far fa-frown ' id="no"></i> {{quote.downVote}}</p> 
  </div>
</div><br>
<div class="row">
  <div class="col-md-12 names">
    <p>Submitted by: {{quote.submitter}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-left">Published: {{quote.published| dateAgo}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-danger" (click)= 'quoteDelete(true)'>Delete Quote</button>
  </div>
</div><br>


