<div class="row">
  <div class="col-md-6 vote">
        <p><button class="btn btn-success" (click)= 'upVotesCount()'>upVote</button> {{quote.upVote}}</p>
  </div>
  <div class="col-md-6 vote">
    <p><button class="btn btn-danger" (click)= 'downVotesCount()'>downVote</button> {{quote.downVote}}</p> 
  </div>
</div><br>
<div class="row">
  <div class="col-md-12 names">
    <p>Submitted by: {{quote.submitter}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="text-left">Published: {{quote.published| dateAgo}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-warning" (click)= 'quoteDelete(true)'>Delete Quote</button>
  </div>
</div><br>


